@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #111111;
  color: white;
}
:root {
  --black: #111;  
}



.mic-gradient {
  background-image:  linear-gradient(to right, var(--black), rgba(0, 0, 0, 0) 37%), radial-gradient(circle farthest-side at 50% 50%, rgba(255, 255, 255, 0), rgba(17, 17, 17, .9) 92%, #111)
}

#card-container:hover #play{
 display: block;
}

#card-container:hover #music-img {
  opacity: 0.5;
  flex-direction: row-reverse;
}

#music-img{
  transition: 0.5s all;
}